.page-links {
  clear: both;
  margin: 0 0 1.5em
}

body .entry-content .btn {
  margin-bottom: 15px
}

body p, body ul li {
}

body.single .entry-content h2 {
  line-height: 42px
}

.bypostauthor {
  display: block
}

.entry-header {
  margin-bottom: 35px;
}

.entry-header .entry-title {
  color: #1c2751;
  font-weight: 400;
  font-size: 1.4rem;
}

.banner-picture {
  padding-bottom: 25%;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .banner-bar {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: left;

      background: rgb(0, 0, 0);
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 70%, rgba(0, 0, 0, 0) 100%);

      .entry-title {
        color: #fff;
        font-weight: 600;
        font-size: 3rem !important;
      }
    }
  }

  @media only screen and (max-width: 992px) {

    padding-bottom: 50%;

    .banner-overlay .banner-bar .entry-title {
      font-size: 2rem !important;
    }

  }

  @media only screen and (max-width: 768px) {
    padding-bottom: 60%;

    .banner-overlay .banner-bar .entry-title {
      font-size: 1.5rem !important;
    }
  }

  @media only screen and (max-width: 400px) {
    padding-bottom: 60%;

    .banner-overlay .banner-bar .entry-title {
      font-size: 1rem !important;
    }
  }
}

header.entry-header-title {
  background: rgba(0, 43, 127, 0.85);
  padding: 20px;


  .entry-title {
    color: #fff;
    font-weight: 400;
    font-size: 55px !important;
  }
}

header.entry-header-regular {
  .banner-overlay {
    .banner-bar {
      .entry-title {
        margin-top: 35px;
      }
    }
  }
}

header.entry-header-cover {
  .banner-picture {
    .banner-overlay {
      background: rgba(0, 0, 0, .4);

      .banner-bar {
        text-align: center;
        background: none;
        top: 40%;

        .entry-title {
          font-size: 3rem !important;
        }
      }
    }
  }
}
