header.navbar-light {
  background-color: #fff;
}

header {

  @media only screen and (max-width: 768px) {
    padding: 0.5rem 0;
    .navbar-brand {
      width: 70%;
    }
  }

  .navbar-collapse.collapse.in {
    display: block!important;
  }
}

#top-links-menu a {
  color: #e93348;
  font-size: 14px;
  font-family: canada-type-gibson, sans-serif;
  padding-bottom: 3px;
  position: relative;
  z-index: 1
}

#top-links-menu a:after {
  content: "";
  position: absolute;
  left: 35%;
  bottom: 0;
  height: 1px;
  width: 30%;
  border-bottom: 2px solid #e93348;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out
}

#main-navigation a, #top-links-menu a {
  font-weight: 400
}

#main-navigation {
  min-height: 50px;
  background: #fff;
  -webkit-transition: all .55s ease;
  transition: all .55s ease;

  a {
    color: #1c2751;
    font-size: 20px;
    padding-top: 0;
    position: relative;
    z-index: 1;
  }

  a:hover {
    color: #e93348;
  }

  a:after {
    content: "";
    position: absolute;
    left: 35%;
    bottom: 0;
    height: 1px;
    width: 30%;
    border-bottom: 2px solid #e93348;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }

  a:active:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
}

#main-navigation #primary-menu a:hover:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1)
}