
.post-navigation {
  margin: 15px 0 30px;
  overflow: hidden;
}

.post-navigation .screen-reader-text {
  display: none;
}

.comment-navigation .nav-previous,
.post-navigation .nav-previous,
.posts-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.post-navigation .nav-next,
.posts-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

.comment-navigation .nav-links a,
.post-navigation .nav-links a,
.posts-navigation .nav-links a {
  font-size: 18px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  color: #e93348;
}

.comment-navigation .nav-links a:hover,
.post-navigation .nav-links a:hover,
.posts-navigation .nav-links a:hover {
  color: #c42033;
  text-decoration: none;
}

.comment-navigation .nav-previous a:before,
.post-navigation .nav-previous a:before,
.posts-navigation .nav-previous a:before {
  content: "< ";
  margin-right: 15px;
  font-size: 18px;
}

.comment-navigation .nav-next a:after,
.post-navigation .nav-next a:after,
.posts-navigation .nav-next a:after {
  content: " >";
  margin-left: 15px;
  font-size: 18px;
}

.post-loop article {
  margin-bottom: 30px;

  .entry-header {
    margin-bottom: 15px;

    .entry-meta {
      font-size: 13px;
    }
  }


  .img-wrap {
    border: solid 1px #fff;
    padding: 10px;
  }

  .post-thumbnail {
    max-height: 240px;
    overflow: hidden;
    margin-bottom: 15px;
  }

  .entry-content {
    font-size: 14px;
    line-height: inherit;
    p {
      font-size: 14px;
      line-height: inherit;
    }
  }

  .entry-footer {
    background: rgba(0, 0, 0, .02);
    font-size: 13px;
    padding: 5px 10px;
  }
}